@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300;400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


.covid-para-1{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

.banner{
        height: calc(16vh - 80px);
}

.corosel-class-1{
    text-decoration: none;
    color: blue;
}
.tick-part-0101{
    color: gray;
    font-weight: 300;
    margin-left: 5px;
}

.first-card-service{
    border-style: none;
}
.the-second-card{
    color: white;
    background-size: 150%;
    margin-right: 40px;
}

.tick-part-0101{
    font-weight: 300;
    margin-left: 5px;
}
.choose-plan-2{
    padding-bottom: 0%;
    margin-top: 18px;
    margin-bottom: 0;
}
.footer-last-part{
    justify-content: space-around;
    align-items: center;
}

.footer-custom-class{
    margin-top: 50px;
}